{% raw -%}
name: Publish

on:
  push:
    tags:
      - 'v*'

jobs:
  publish:
    name: Publish release artefacts
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    env:
      CONTAINER_REGISTRY: ghcr.io/${{ github.repository_owner }}
{%- endraw %}
{%- if integrate_dependency_track %}
{% raw %}      OWASP_DTRACK_URL: ${{ secrets.OWASP_DTRACK_URL }}
      OWASP_DTRACK_API_KEY: ${{ secrets.OWASP_DTRACK_API_KEY }}{% endraw %}
{%- endif %}
{% raw %}
    steps:
      - uses: actions/checkout@3d3c42e5aac5ba805825da76410c181273ba90b1 # v7.0.1
        with:
          persist-credentials: false

      - uses: pnpm/action-setup@0977fd99725f1db4007ccb2928dbb4e90d06cc86 # v6.0.10

      - uses: actions/setup-node@820762786026740c76f36085b0efc47a31fe5020 # v7.0.0
        with:
          node-version-file: .node-version
          cache: pnpm

      - name: Log in to the container registry
        run: echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io -u "${{ github.actor }}" --password-stdin

      - name: Build and publish
        run: ./workflow.cmd release.publish
{%- endraw %}
